<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS - Admin Dashboard</title>
    <link rel="icon" href="/library img.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/adminDashStyles.css">
</head>
<body>
    <div class="logout"><form action="/admin/logout" method="get"><button>LOGOUT</button></form></div>
    <% if (success && success.length > 0) { %>
        <div class="flash-message" id="flash-message">
            <span><%= success[0] %></span>
            <button onclick="document.getElementById('flash-message').style.display='none'">
                &times;
            </button>
        </div>
    <% } %>
    <div class="welcomeNotice">
        <p>WELCOME <span><%=admin %>!</span></p>
    </div>
    <div class="main">
        <div class="card">
            <div class="cardTitle">Book Management</div>
            <div class="cardbody">
                <div class="cardDetails">View, create, delete and update books in library.</div>
                <div class="cardLink"><a href="/admin/books">View books <i class="fa-solid fa-angle-right"></i></a></div>
            </div>
        </div>
        <div class="card">
            <div class="cardTitle">Requests Management</div>
            <div class="cardbody">
                <div class="cardDetails">View all reservations for books and waitlist. </div>
                <div class="cardLink"><a href="/admin/requests">View requests <i class="fa-solid fa-angle-right"></i></a></div>
            </div>
        </div>
    </div>
    <% if (error) { %>
        <div><%= error %></div>
    <% } %>
</body>
</html>